<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h4 class="section-subheading"> The Vitruvio Groups project began in 2016, among some  interior designers, with an idea to find an easier way of sharing Indians know-how and Made in India. The same services available to the local market and few incoming foreign clients needed to evolve and expand. Construction and interior architecture design company that specialist in Commercial and residential Projects. Founded in Bengaluru by Asif Munavar in 2016.The internet has removed boundaries between continents, making knowledge and product sharing easier and faster. 

When you are building the house of your dreams, you want it to be a pleasant transition. So the practice creates individual interiors inspired by the culture and nature of the location, by the travels of the team and by the artisans with whom they work. We specialize in sustainable principals and have most notably been recognized for our law firm office interior design work. Its innovative architecture, interior design and products firm specializes in hi-end residential, hospitality and home product design. the completion of a project consistently provides our clients with homes that exceed their expectations. Our passion is minimizing our impact on the natural environment while maximizing the impact on our clients' built environment.
.</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    </div>
                                    <h4 class="subheading">Our Mission</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">“We are dedicated to providing clients with easy, efficient access to home design and architecture knowledge together with Indian craftsmanship, and high-quality industrial design. Our main goal is to inspire people with Modern beauty and provide the service such as the Best Interior Designers.”</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                     </div>
                                    <h4 class="subheading">Quality</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Good quality will save the world in time. Vitruvio’s team of professionals invest their time and diligence to complete a project, resulting in exceptional quality. Made in India furniture and furnishings have been perfected to high standards of quality and durability. This will allow your interiors to withstand the test of time both sustainably and with style.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                     </div>
                                    <h4 class="subheading">Integrity</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Respect and reliability are the cornerstones founding and leading our customer service practices. This integrity is important in establishing the trust and confidence necessary to design your home interiors. Vitruvio Groups will treat your home as its own, a very important concept of comfort culture, as their customers come before everything else.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                     </div>
                                    <h4 class="subheading">Beauty</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">As one of the founding pillars, beauty always wins. Whether it’s an Construction project or interior design, Vitruvio Groups pursues beauty in all activities. Beauty is something that should surround your vision and other senses. The objective of Vitruvio Groups is to share this beauty with the world through Construction & interior Services.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
