<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">{{site.title}}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                     <li>
                        <a class="page-scroll" href="#HOME">Services</a>
                    </li>
                     <li>
                        <a class="page-scroll" href="#PROJECT">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#ABOUT">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#SERVICES">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#TEAM">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#PORTFOLIO">Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#CONTACT">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Vitruvio Groups approach is unique, it aims to build a Long-term relationship with its clients. Maintaining Your Home is essential to preserve its value and we work with you to assist with your projects in order to make your Dream reality.</div>
                <div class="intro-heading"></div>
                <a href="#PROJECT" class="page-scroll btn btn-xl">VIEW PROJECT</a>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

